body {
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

button {
  height: 40px;
  width: 30%;
  float: left;
  border: none;
}

#maxBet {
  background-color: #ec5;
}

#minBet {
  background-color: #ccc;
}

section {
  background-image: url(../img/gamble.png);
  width: 50%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}