body {
  background-color: black;
}

h1 {
  color: white;
  margin-left: 48%;
}

h2 {
  color: white;
  margin-left: 45%;
  font-family: sans-serif;
}

button {
  height: 40px;
  width: 30%;
  float: left;
  border: none;
  margin-left: 14%;
}

#maxBet {
  background-color: #ec5;
}

#minBet {
  background-color: #ccc;
}

section {
  background-image: url(../img/gamble.png);
  width: 50%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 25%;
  margin-bottom: 20px;
}